*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f1f5f9;
}
header{
    background-color: #0ea5e9;
    width: 100%;
    height: 159px;
    border-radius: 10px;
}
.header {
    margin: 0 auto;
    width: 700px;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    font-size: larger;
    color: white;
}
nav{
    margin: 15px auto;
}
.navbar {
    width: 98%;
    height: 38px;
    background-color: #e0f2fe;
    margin: 0 auto;
    border-radius: 10px;
}
#active{
    width: 25%;
    height: 100%;
    margin: 0 auto;
}
.navbar p {
    display: inline-block;
    text-align: center;
    margin: 10px;
    color: #0284c7;
}
.navbar p:hover {
    color:white;
    background-color: #0284c7;
    padding: 3px;
    border-radius: 10px;
}
.info {
    width: 98%;
    height: 138px;
    background-color: white;
    border-radius: 10px;
    margin: 15px auto;
}
.info h1 {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.info-2{
    width: 98%;
    height: 138px;
    background-color: #ecfeff;
    border-radius: 10px;
    margin: 15px auto;
}
div
.info-2 li {
    list-style: none;
}