* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header {
    background-color: #32465a;
    text-align: center;
    padding: 16px 0;
}
header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
#header a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
#header a:hover{
    background-color: #445566;
    text-decoration: underline;
}
#info{
    background-color: #466686;
    text-align: center;
    color: white;
}
#info h2{
    padding: 120px 0 30px 0;
    font-size: 48px;
    line-height: 60px;
}
#info p {
    display: block;
    font-size: 20px;
    padding: 0 0 25px 0;
}
#button {
    padding-bottom:  100px;
}
#info a{
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    margin-right: 30px;
}
#button-1{
    background-color: #2980b9;
    transition: all 0.5s ease;
}
#button-1:hover{
    transform: translateY(-20px);

}
#button-2{
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.5s ease;
}
#button-2:hover{
    transform: translateY(20px);
}
.gioithieu{
    background-color: #f8f9fa;
}
#gioithieu {
    padding: 100px 150px;
    color: #2980b9;
}
#gioithieu h2{
    font-size: 40px;
    margin-bottom: 40px;
}
#content{
display: inline-block;
margin-bottom: 30px;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #2980b9;
    position: absolute;
    top: 698px;
    left: 140px;
}
#text{
    margin-left: 50px;
    line-height: 35px;
    font-size: 18px;
}
#text p {
    color: grey;
}
.circle-2{
     width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #2980b9;
    position: absolute;
    top:798px;
    left: 140px;
}
#gach{
    text-decoration: line-through;
}
.content-2{
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
}
.content-2 p {
    padding: 25px 20px;
    color: black;
    line-height: 30px;
}
.show{
    background-color: white;
    text-align: center;
    
}
.show h1 {
    margin: 100px 0 50px 0;
    font-size: 40px;
    color: #2c3e50;
    
}
.image-show {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 100px;
}
.image-show img{
    display: inline-block;
    width: 220px;
    height: 280px;
    border-radius: 10px;
    margin-right: 15px;
    transition: all 0.2s ease-out;
}
.image-show img:hover {
    transform: scale(1.1);
}
.feature {
    background-color: #f8f9fa;
    text-align: center;
    padding-bottom: 50px;

}
.feature h2 {
    font-size: 40px;
    color: #2c3e50;
    padding: 100px 0 50px 0;
}
.content-3 {
    display: inline-block;
}
.in-content {
    display: inline-block;
    width: 1200px;
    height: 159px;
    background-color: white;
    padding: 50px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 208, 255, 0.962);
    margin-bottom: 15px;
    transition: all 0.5s ease;
}
.in-content strong {
    display: block;
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
    color: #2c3e50;
}
.in-content p {
    color: grey;
    text-align: left;
}
.in-content:hover {
    transform: translatex(-50px);
}
form {
    width: 700px;
    height: 1111px;
    background-color: white;
    margin: 50px auto;
    border-radius: 8px;
}
form h1 {
    padding-top: 50px;
    color: #2c3e50;
    font-size: 40px;
    padding-bottom: 50px;
}

.input{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
    
    color: #2c3e50;
} 
.input p {
    display: block;
    padding: 5px 0;
    font-size: 18px;
    color:#2c3e50;
    font-weight: bold;

}
.input input {
    width: 600px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px 15px;
}
#radio-1,#radio-2,.radio {
    width: 15px;
    height: 15px;
    display: inline-block;

}
#select {
     width: 600px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px 15px;
}
.checkbox{
    margin: 15px 0;
}
#checkbox-1{
    width: 15px;
    height: 15px;
}
#textarea{
    max-width: 600px;
    height: 120px;
}
#textarea textarea {
    width: 100%;
    height: 100%;
    resize: vertical;
    padding: 10px 15px;
}
.button-3 {
    margin-left: 50px;
    margin-bottom: 30px;
    width: 600px;
    height: 52px;
}
.button-3 button {
    width: 100%;
    height: 100%;
    background-color: #e74c3c;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
}
.button-3 button:hover {
    background-color: #c0392b;
    
}
.sub{
    background-color: white;
}
.sub h1 {
    padding: 50px 0px 30px 100px;
    font-size: 40px;
    color: #e74c3c;
}
#tips p{
    display: inline-block;
    background-color: #fff3cd;
    margin-left: 100px;
    width: 1200px;
    height: 58px;
    padding: 20px 25px;
    font-size: larger;
    border-left: 5px solid #ffc107;
    margin-bottom: 30px;
}
.table{
    margin-left: 100px;
    width: 1200px;
    padding-bottom: 100px;
}
.table table {
    width: 100%;
}
.table thead {
    background-color: #e74c3c;
    color: white;
    font-size: 16px;
}
.table tr {
    text-align: left;
    transition: all 0.3s ease;
}
tbody tr:hover {
    background-color: #fff3f3;
}
.table th,td {
    padding: 20px 30px;
}
.tbback { 
    background-color: #f8f9fa;
}
.tbback td {
    border-top: 0,5px solid #f8f9fa32;
    border-bottom: 0,5px solid #f8f9fa32;
}
footer {
    background-color: #2c3e50;
    width: 100%;
    height: 257px;
}
.footer {
    width: 1200px;
    height: 177px;
    text-align: center;
}
.footer{
    margin: 0 auto;
    padding-top: 30px;
    color: white;
}
.footer h2{
    padding-bottom: 30px;
}
.footer p {
    color: #c3c8cd;
    padding-bottom: 15px;
    display: block;
}
.footer h4{
    padding: 20px 0;
}
